{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for artwork in artworks %}
    <figure>
        <img src="{{ artwork.image }}" alt="{{ artwork.title }}">
        <figcaption>
            <p>{{ artwork.title }}</p>
            <p>{{ artwork.artist }}</p>
            <p>{{ artwork.year }}</p>
        </figcaption>
    </figure>
    {% else %}
    Pas d'image
    {% endfor %}
{% endblock %}
