{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Bienvenue sur AperoTrotter</h1>
    <main class="room">
        <div class="wall">
            {% set artwork = artworks[0] %}
            <figure class="artwork">
                <img src="{{ artwork.image }}" alt="{{ artwork.title }}">
                <figcaption>
                    <p>{{ artwork.title }}</p>
                    <p>{{ artwork.artist }}</p>
                    <p>{{ artwork.year }}</p>
                </figcaption>
            </figure>

            <div class="webcam">
                {% if webcam is not empty %}
                    <img src="{{ webcam.image }}" alt="{{ webcam.country }}"/>
                    <div class="country">{{ webcam.place }} - {{ webcam.country }}</div>
                {% endif %}
            </div>

            {% set artwork = artworks[1] %}
            <figure class="artwork">
                <img src="{{ artwork.image }}" alt="{{ artwork.title }}">
                <figcaption>
                    <p>{{ artwork.title }}</p>
                    <p>{{ artwork.artist }}</p>
                    <p>{{ artwork.year }}</p>
                </figcaption>
            </figure>
            </img>
        </div>
        <div class="table">
            <div class="recipe">
                <div class="recipe-paper">
                    <h2>{{ cocktail.name }}</h2>
                    <p>{{ cocktail.glass }} - {{ cocktail.alcoholic ? 'alcolisé' : 'non alcolisé' }}</p>
                    <div class="recipe-details">
                        <ul>
                            {% for ingredient in cocktail.ingredients %}
                                <li>{{ ingredient.name }} {{ ingredient.quantity }}</li>
                            {% endfor %}
                        </ul>
                        <img src="{{ cocktail.image }}" alt="{{ cocktail.name }}">
                    </div>
                    <p>{{ cocktail.instructions }}</p>
                </div>
            </div>

            {% set glass_image = 'assets/images/glass_cocktail.png' %}
            {% if cocktail.glass == 'Cocktail glass' %}
                {% set glass_image = 'assets/images/glass.png' %}
            {% endif %}
            <img class="glass" src="{{ asset(glass_image) }}" alt="glass">
            <img class="flag" src="https://www.countryflags.io/{{ country }}/shiny/64.png" alt="{{ country }}"/>

            <div id="chartdiv" class="map"></div>
        </div>

    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="{{ asset('assets/js/map.js') }}"></script>
{% endblock %}
