{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <figure>
        <img src="{{ webcam.image }}" alt="{{ webcam.country }}">
        <figcaption>
            <p>{{ webcam.country }}</p>
        </figcaption>
    </figure>


    {% for artwork in artworks %}
    <figure>
        <img src="{{ artwork.image }}" alt="{{ artwork.title }}">
        <figcaption>
            <p>{{ artwork.title }}</p>
            <p>{{ artwork.artist }}</p>
            <p>{{ artwork.year }}</p>
        </figcaption>
    </figure>
    {% else %}
    Pas d'image
    {% endfor %}

    <figure>
        <img src="{{ cocktail.image }}" alt="{{ cocktail.name }}">
        <figcaption>
            <p>{{ cocktail.name }}</p>
            <p>{{ cocktail.glass }}</p>
            <p>{{ cocktail.alcoholic ? 'alcolisé' : 'non alcolisé' }}</p>
            <ul>
                {% for ingredient in cocktail.ingredients %}
                    <li>{{ ingredient.name }} {{ ingredient.quantity }}</li>
                {% endfor %}
            </ul>
            <p>{{ cocktail.instructions }}</p>
        </figcaption>
    </figure>

{% endblock %}
